# ==========================
# Python
# ==========================

backend/venv/
backend/uploads/

**/__pycache__/
*.py[cod]

# ==========================
# React
# ==========================

frontend/node_modules/
frontend/dist/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Environment
# ==========================

.env

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db